[Unit]
Description=The PHP 8.1 FastCGI Process Manager
After=network.target

[Service]
Type=simple
PIDFile=/server/run/php/php81-fpm.pid
ExecStart=/server/php/81/sbin/php-fpm --nodaemonize --fpm-config /server/php/81/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true
ProtectSystem=full
PrivateDevices=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=true

[Install]
WantedBy=multi-user.target
