# /server/nginx/conf/custom/default.nginx

# 默认站点
server
{
    listen 80 default;
    root /server/default;
    index index.html;

    # 处理不以指定扩展名结尾的请求
    location ~* \.(?!jpe?g$|png$|html?$|css$|js$|ico$|gif$|txt$)[a-zA-Z0-9_\-]+$
    {
        deny all;
    }
}

## php8.4 默认站点
server
{
    listen 80;
    server_name 84.php.io;
    root /server/default;
    index index.php;

    location /
    {
        access_log      off;    # 关闭访问日志
        log_not_found   off;    # 关闭错误日志
    }

    # allow 192.168.3.0/24;   # 允许 192.168.3  段的局域网访问
    # allow 192.168.10.0/24;  # 允许 192.168.10 段的局域网访问
    # allow 192.168.66.0/24;  # 允许 192.168.66 段的局域网访问
    # deny all;               # 拒绝 其他IP访问

    # php-fpm 转发
    location ~* \.php$
    {
        fastcgi_pass        127.0.0.1:9684;
        include             fastcgi.conf;
    }
}
