# /server/sites/*.nginx
server
{
    #SSL 默认访问端口号为 443
    listen 443 ssl;
    #请填写证书文件的相对路径或绝对路径
    server_name qyphp.e8so.com;
    #请填写证书文件的相对路径或绝对路径
    ssl_certificate /server/ssl/qyphp.e8so.com_bundle.crt;
    #请填写私钥文件的相对路径或绝对路径
    ssl_certificate_key /server/ssl/qyphp.e8so.com.key;
    ssl_session_timeout 5m;
    #请按照以下套件配置，配置加密套件，写法遵循 openssl 标准。
    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;
    #请按照以下协议配置
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    root /www/qyphp/public;
    access_log /server/logs/nginx/qyphp_e8so_com.log;
    index index.php;

    if ($request_method !~* GET|POST|OPTIONS)
    {
        return 403;
    }

    # include custom/cache;
    # include custom/limit_req_server;

    location /
    {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # 对文件类型为 .php 的url请求做转发处理
    include custom/php_forward;

    # 禁止访问的目录或文件
    include custom/no_access;
}

# HTTP 自动跳转 HTTPS
server {
    listen 80;
    server_name qyphp.e8so.com;
    return 301 https://$host$request_uri;
}
