# /server/mysql/data/my.cnf
[mysqld]
# 插件
plugin-load-add                 = auth_socket.so                    # 启用 auth_socket 验证插件

# 通用
datadir                         = /server/mysql/data                # 数据目录路径
socket                          = /run/mysql/mysqld.sock            # Unix 平台上套接字文件的路径 用于本地客户端连接的文件
pid_file                        = /server/run/mysql/mysqld.pid      # 进程 ID 文件路径
user                            = mysql                             # 用户
port                            = 3306                              # 端口

# INNODB
# 如果是专用的DB服务器，且以InnoDB引擎为主的场景，通常可设置物理内存的50%
# 如果是非专用DB服务器，可以先尝试设置成内存的1/4，如果有问题再调整
# 默认值是8M，非常坑X，这也是导致很多人觉得InnoDB不如MyISAM好用的缘故
default_storage_engine          = InnoDB                            # 表的默认存储引擎
innodb_buffer_pool_size         = 512M                              #  配置 InnoDB 缓冲池大小
# 日志
log_error                       = /server/logs/mysql/error.log     # 默认错误日志文件路径
binlog_format                   = ROW                               # 此系统变量设置二进制日志记录格式
log_bin                         = /server/logs/mysql/bin_log       # 启用二进制日志记录，路径名是环境变量 `log_bin_basename` 的值
log_bin_index                   = /server/logs/mysql/bin_log.index # 二进制日志索引文件的全路径
binlog_expire_logs_seconds      = 2592000                           # 设置二进制日志过期期限（以秒为单位）
max_binlog_size                 = 104857600                         # 100M 二进制日志文件大小（事务写入时不会拆分，所以可能会大于此值）

# 复制
innodb_flush_log_at_trx_commit  = 1                                 # 设为1，事务提交时，事务日志立马从内存刷写到磁盘中的事务日志文件中
sync_binlog                     = 1                                 # 设为1，每1次事务提交之后，将内存中的binlog刷写到磁盘中的binlog日志文件中
relay_log_info_repository       = TABLE                             # 允许复制更新同一事务中的事务和中继日志信息
relay_log_recovery              = ON                                # 该参数使得副本服务器在检测到崩溃时会丢弃所有本地中继日志，并从源服务器中获取丢失的数据

# 其它
character_set_server            = utf8mb4                           # 服务器默认字符集
collation_server                = utf8mb4_general_ci                # 服务器的默认排序规则
skip_name_resolve               = ON                                # 开启，加速客户端连接
bind_address                    = *                                 # ipv4+ipv6
# bind_address                  = 0.0.0.0                           # ipv4
# bind_address                  = ::                                # ipv6
# bind_address                  = 127.0.0.1                         # 仅本机
# bind_address                  = 127.0.0.1,192.168.10.201          # 仅mysql8.0.23后支持多个
event_scheduler                 = ON                                # 开启计划任务

# OFF: 不允许用户创建或更改存储函数，除非具有超级权限中的 CREATE 或 ALTER 特权
# ON: 不对存储函数强制执行这些限制
log_bin_trust_function_creators = OFF

# 启动服务器时，初始化载入的sql语句，主要用于设置my.ini不支持的全局系统变量
init_file                       = /etc/mysql/init.sql
