# /server/etc/mysql/my.cnf
[mysqld]
# plugin_dir                      = /server/mysql/lib/plugin          # 插件目录的路径名
# plugin-load-add 选项必须在 plugin-load 之后才能生效
plugin-load-add                   = auth_socket.so                    # 安装套接字可插拔身份验证插件

# user                            = mysql                             # 用户
basedir                           = /server/mysql                     # MySQL 安装目录的路径
datadir                           = /server/data                      # 数据目录路径
pid_file                          = /run/mysql/mysqld-84.pid          # 进程 ID 文件路径
socket                            = /run/mysql/mysqld-84.sock         # Unix 平台上套接字文件的路径 用于本地客户端连接的文件
port                              = 3306                              # TCP/IP连接的端口号，套接字连接使用本地的socket文件，不需要端口

# INNODB
# 如果是专用的DB服务器，且以InnoDB引擎为主的场景，通常可设置物理内存的50%
# 如果是非专用DB服务器，可以先尝试设置成内存的1/4，如果有问题再调整
# 默认值是128MB，老版本为8M非常坑，这也是导致很多人觉得InnoDB不如MyISAM好用的缘故
# default_storage_engine          = InnoDB                            # 永久表的默认存储引擎
# default_tmp_storage_engine      = InnoDB                            # 临时表的默认存储引擎
# innodb_buffer_pool_size         = 134217728                         # 配置 InnoDB 缓冲池大小（以字节为单位）

# 二进制日志
# binlog_format 选项已弃用，此后只能基于行(ROW)来记录
log_error                         = /server/logs/mysql/error.log      # 默认错误日志文件路径
log-bin                           = /server/logs/mysql/binlog         # 启用二进制日志记录，路径名是环境变量 `log_bin_basename` 的值
log_bin_index                     = /server/logs/mysql/binlog.index   # 二进制日志索引文件的全路径
binlog_expire_logs_seconds        = 604800                            # 设置二进制日志过期期限（以秒为单位）
max_binlog_size                   = 104857600                         # 二进制日志文件大小（以字节为单位，事务写入时不会拆分，所以可能会大于此值）

# 其它
# character_set_server            = utf8mb4                           # 服务器默认字符集
# collation_server                = utf8mb4_0900_ai_ci                # 服务器的默认排序规则
skip_name_resolve                 = ON                                # 开启，客户端登录时只检查ip地址，不再解析主机名(含localhost)

bind_address                      = *                                 # 监听ipv4+ipv6的网卡地址
# bind_address                    = ::                                # 监听ipv6的网卡地址
# bind_address                    = 0.0.0.0                           # 监听ipv4的网卡地址
# bind_address                    = 127.0.0.1                         # 仅监听本机（含localhost）
# bind_address                    = 127.0.0.1,192.168.10.201          # 仅mysql8.0.23后支持多个

# admin_port                      = 33062                             # 管理员网络连接端口号，如果没有设置 admin_address 则不起作用
# admin_address                   = 192.168.10.8                      # 该网卡ip地址单独监听管理员端口号
# event_scheduler                 = ON                                # 开启计划任务，高版本默认开启
# max_join_size                   = 100000                            # 使用 JOIN 多表 SELECT 语句最多检查行数（默认值超大）

# 启用加密链接，测试没啥效果
#ssl_ca                            = /server/data/ca.pem
#ssl_cert                          = /server/data/server-cert.pem
#ssl_key                           = /server/data/server-key.pem
#require_secure_transport          = ON                                # 要求客户端使用加密连接

init_file                         = /server/etc/mysql/init.sql        # 启动服务器时，初始化载入的sql语句，主要用于设置my.ini不支持的全局系统变量
