# /usr/lib/systemd/system/mysqld-80.service

[Unit]
Description=MySQL Server 8.0.x
Documentation=man:mysqld(8)
After=network-online.target
Wants=network-online.target
After=syslog.target

[Service]
User=mysql
Group=mysql
Type=notify
ExecStart=/server/mysql/bin/mysqld --defaults-file=/server/etc/mysql/my.cnf
Restart=on-failure
PrivateTmp=false

[Install]
WantedBy=multi-user.target
