# /lib/systemd/system/postgresql@.service

[Unit]
Description=PostgreSQL Cluster 15-main
AssertPathExists=/etc/postgresql/15/main/postgresql.conf
# RequiresMountsFor=/etc/postgresql/15/main /server/pgsql
PartOf=postgresql.service
ReloadPropagatedFrom=postgresql.service
Before=postgresql.service
After=network.target

[Service]
Type=forking
ExecStart=-/usr/bin/pg_ctlcluster --skip-systemctl-redirect 15-main start
TimeoutStartSec=0
ExecStop=/usr/bin/pg_ctlcluster --skip-systemctl-redirect -m fast 15-main stop
TimeoutStopSec=1h
ExecReload=/usr/bin/pg_ctlcluster --skip-systemctl-redirect 15-main reload
# PIDFile=/server/run/pgsql/15-main.pid
SyslogIdentifier=postgresql@15-main
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
