[Desktop Entry]
Name=DataGrip
Icon=/home/emad/jetbrains/app/DataGrip/bin/datagrip.svg
StartupWMClass=DataGrip
Comment=The IDE for databases and SQL
Exec="/home/emad/jetbrains/app/DataGrip/bin/datagrip.sh" %f %u
Version=2024.1.1
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
