[Desktop Entry]
Name=goland
Icon=/home/emad/jetbrains/app/goland/bin/goland.svg
StartupWMClass=jetbrains-goland
Comment=A smart IDE for goland
Exec="/home/emad/jetbrains/app/goland/bin/goland.sh" %f %u
Version=2023.2.3
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
