[Desktop Entry]
Name=idea
Icon=/home/emad/jetbrains/app/idea/bin/idea.svg
StartupWMClass=jetbrains-idea
Comment=Java and Kotlin IDE
Exec="/home/emad/jetbrains/app/idea/bin/idea.sh" %f %u
Version=2023.2.3
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
