[Desktop Entry]
Name=PhpStorm
Icon=/home/emad/JetBrains/app/PhpStorm/bin/phpstorm.svg
StartupWMClass=jetbrains-phpstorm
Comment=A smart IDE for PHP and Web
Exec="/home/emad/JetBrains/app/PhpStorm/bin/phpstorm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
