[Desktop Entry]
Name=PhpStorm
Icon=/home/emad/jetbrains/app/PhpStrom/bin/phpstorm.svg
StartupWMClass=PhpStrom
Comment=A smart IDE for PHP and Web
Exec="/home/emad/jetbrains/app/PhpStrom/bin/phpstorm.sh" %f %u
Version=2023.2.3
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
