[Desktop Entry]
Name=pycharm
Icon=/home/emad/jetbrains/app/pycharm/bin/pycharm.svg
StartupWMClass=jetbrains-pycharm
Comment=A smart IDE for Python
Exec="/home/emad/jetbrains/app/pycharm/bin/pycharm.sh" %f %u
Version=2023.2.3
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
